on:
  push:
    branches:
      - main
    paths:
      - update.mjs

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - run: npm run update
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'chore: update'
          file_pattern: README.md
